body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f4f4f4;
}

header {
    background-color: royalblue;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: yellow;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: orange;
}
